nav{
    padding: 10px;
    color: white;
    text-align: center;
}
header{
    background-color: rgb(17, 8, 61);
}

body{
    background-color: rgb(220, 220, 221);
    margin: 0;
}
fieldset{
    margin: 5px;
    width: 200px;
    height: 300px;
    background-color: rgb(230, 224, 227);
    color: rgb(5, 3, 117);
}
